.userFormHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, aquamarine, rgb(30, 255, 0));
}