:root {
  --accent-color: #ff6b6b;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, aquamarine, aqua);

  .formBase {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffac4e;

    .title {
      margin: 10px;
      font-size: 24px;
      font-weight: 700;
    }

    .labelContainer {
      display: flex;
      flex-direction: column;
      min-height: 65px;

      .labelText {
        text-align: left;
        padding-bottom: 7px;
      }

      .inputElement {
        padding: 10px;
        border: none;
        outline: none;

        .inputValid {
          border: 1px solid greenyellow;
        }

        .inputInvalid {
          border: 1px solid red;
        }
      }

      .errorWrapper {
        text-align: right;
        min-height: 20px;
      }

      .errorComponent {
        color: red;
        font-size: 14px;
        text-align: left;
        margin-top: 5px;
      }
    }

    .checkboxElement {
      cursor: pointer;
    }

    .buttonSubmit {
      color: black;
      background: linear-gradient(135deg, aquamarine, aqua);
    }
  }
}
