.formWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;

  .formBase {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 300px;
    padding: 15px;
    background: #00c3ff;
    background: linear-gradient(135deg, #ffd6a5 0%, #fd7569 100%);


    .title {
      margin: 10px;
      font-size: 24px;
      font-weight: 700;
    }

    .labelContainer {
      display: flex;
      flex-direction: column;
      min-height: 65px;

      .labelText {
        text-align: left;
        padding-bottom: 7px;
      }

      .inputElement {
        padding: 10px;
        border-radius: px;
        border: none;
        outline: none;
      }

      .errorComponent {
        color: red;
        font-size: 14px;
        min-height: 20px;
        text-align: left;
        margin-top: 5px;
      }
    }

    .checkboxElement {
      cursor: pointer;
    }

    .buttonSubmit {
      background-color: rgba(49, 235, 145, 1);
    }
  }
}
