.weatherHome {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: aqua;
}

.weatherSection {
  display: flex;
  gap: 10px;
  min-width: 500px;
  padding: 10px;
  background-color: #6495ed;
  border-radius: 10px;
}

.wrapperTemperetur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  background-color: #87cefa;
  font-size: 16px;
  text-align: left;

  p {
    margin-top: 5px;
    text-align: center;
  }
  select {
    border-radius: 4px;
    width: 100%;
    padding: 5px;
  }
}

.titleWeather {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}